h2 {
  text-align: left;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.counter {
  margin-bottom: 2rem;
}

.todoItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  & span {
    text-align: left;
  }
}

.action_button_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  
  button {
    border: 0;
    cursor: pointer;
    width: min-content;
    margin-left: 1rem;
    & svg {
      font-size: 1.1rem;
    }
  }
}

.completed {
  text-decoration: line-through;
}
