.form_Container {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form_wrapper {
    width: 100%;
  }
  
  h2 {
    text-align: left;
    margin-bottom: 1rem;
  }

  .title, .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 1rem;
  }

  & label {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }

  & input, textarea {
    width: 100%;
    padding: 0.5rem 5px;
  }   
  
  & textarea {
    padding-bottom: 6rem;
  }
  
  input::placeholder, textarea::placeholder {
    text-align: left;
    font-size: 1rem;
    
  }

  .submit_data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & button {
      background-color: darkblue;
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      margin-top: 2em;

      span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        svg {
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}