ul {
  list-style-type: none;
  padding: 0;

}

h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.todoItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  & span {
    text-align: left;
    
  }
}