* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 3rem;
  font-size: 3rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.general_container, .todo_list_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem;
}

.todo_list_container {
  margin-top: 3rem;
}

h2 {
  text-align: left;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.counter {
  margin-bottom: 2rem;
}

.sorting {
  margin-bottom: 3rem;
}

.sorting button {
  padding: 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 10%;
}

footer {
  margin-top: 3rem;
}


